services:
  norbitpizzaapp.api:
    image: norbitpizzaapp.api
    build:
      context: .
      dockerfile: NorbitPizzaApp.Api/Dockerfile
  sql-server:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: 'Y'
    ports:
      - 1433:1433
    volumes:
      - ./data:/var/opt/mssql/data/

